<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="DEBUG" />
        <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="LogDirectory" value="C:\BrightVision\ServiceLog\" />
    <!--Log directory when error occurs-->
    <add key="TCPChannelPort" value="32551" />
    <!--The port on which server channel listens-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!--Windows Azure Storage-->
    <!--Production Azure Storage-->
    <!--<add key="AccountName" value="ssisqueue"/>
    <add key="AccountSharedKey" value="iinoxZ+pXXtWhKnTkI6+XTdMEykH3yYFrgyTRQmeSBYJOH9PKBqjATnhOoe6YXcg8kdn3iQRC+vPm+J6TESq4Q=="/>
    <add key="QueueStorageEndpoint" value="http://ssisqueue.queue.core.windows.net"/>
    <add key="BlobStorageEndpoint" value="http://ssisqueue.blob.core.windows.net"/>
    <add key="TableStorageEndpoint" value="http://ssisqueue.table.core.windows.net"/>-->
    
    <!--Staging Azure Storage-->
    <add key="AccountName" value="ssisqueuestaging"/>
    <add key="AccountSharedKey" value="VABD1LI468p1VOF/Fbau52xR1+bTI4FivveZut6570WE3EPHo+mXF57QH+aBTKYtuNSD0FEc7xJnJi7UAELOOg=="/>
    <add key="QueueStorageEndpoint" value="http://ssisqueuestaging.queue.core.windows.net"/>
    <add key="BlobStorageEndpoint" value="http://ssisqueuestaging.blob.core.windows.net"/>
    <add key="TableStorageEndpoint" value="http://ssisqueuestaging.table.core.windows.net"/>
    
    <add key="TimeInterval" value="5000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>