<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Production Connection-->
    <!--<add name="HamachiEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=25.129.169.165,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=michael;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GothenBurgEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.201,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=michael;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DemoEnvEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.201,1010\SQL2008R2;initial catalog=BrightPlatform_Test;persist security info=True;user id=michael;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Staging Connection-->
    <!--<add name="GothenBurgEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.215,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=brightvision;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HamachiEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=25.127.71.218,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=brightvision;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DemoEnvEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.215,1010\SQL2008R2;initial catalog=BrightPlatform_Test;persist security info=True;user id=brightvision;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Staging2012 Connection-->
    <!--<add name="GothenBurgEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.222,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=brightsales;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HamachiEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=25.93.52.147,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=brightsales;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Local Connection-->
    <add name="GothenBurgEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.151,1010\sqlexpress2008r2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=sa;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HamachiEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.151,1010\sqlexpress2008r2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=sa;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoEnvEntityConnection" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.151,1010\SQL2008R2;initial catalog=BrightPlatform_Test;persist security info=True;user id=sa;password=Bright1234;multipleactiveresultsets=True;Connection Timeout=60;Asynchronous Processing=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Change value to 'Hamachi' or 'GothenBurg' or 'DenEnv'-->
    <add key="ConnectionDefaultPriority" value="GothenBurg" />
    <add key="FileMakerDatabaseName" value="FileMakerMigrated" />
    <!--Windows Service Note: Currently not being used due to the replacement of Azure Message Queueing-->
    <!--Address of the TCP Channel Server + port where the application client connects to.-->
    <!--<add key="TCPServerAddress" value="tcp://192.168.1.56:32551/BrightVisionSSISRemoteCall"/>-->
    <!--Windows Azure Storages-->
    <!--Production Azure Storage-->
    <!--<add key="AccountName" value="ssisqueue"/>
    <add key="AccountSharedKey" value="iinoxZ+pXXtWhKnTkI6+XTdMEykH3yYFrgyTRQmeSBYJOH9PKBqjATnhOoe6YXcg8kdn3iQRC+vPm+J6TESq4Q=="/>
    <add key="QueueStorageEndpoint" value="http://ssisqueue.queue.core.windows.net"/>
    <add key="BlobStorageEndpoint" value="http://ssisqueue.blob.core.windows.net"/>
    <add key="TableStorageEndpoint" value="http://ssisqueue.table.core.windows.net"/>-->
    <!--Staging Azure Storage-->
    <add key="AccountName" value="ssisqueuestaging" />
    <add key="AccountSharedKey" value="jDUv+793YcosE2JtMS49DY8y2r9hEm+/NnsS64M+85bfo5ULdMInxQRsjE0wB3DRRQfq4pOINIUxPFN9rZHUcA==" />
    <add key="QueueStorageEndpoint" value="http://ssisqueuestaging.queue.core.windows.net" />
    <add key="BlobStorageEndpoint" value="http://ssisqueuestaging.blob.core.windows.net" />
    <add key="TableStorageEndpoint" value="http://ssisqueuestaging.table.core.windows.net" />

    <add key="WindowsAzureStorageAccountName" value="lii" />
    <add key="WindowsAzureStorageAccountKey" value="GUmKQvgTqn2t3CxJb7M4b4hYxocBJ5C9GbDec+Rm4JIxuUX1qKqVf2WzI/5w5UAMPVSMUs3DGY9FFFGl1KK5ZA==" />
    
    <add key="BuildEnvironment" value="Staging Environment" />
    <!--<add key="BuildEnvironment" value="Production Environment"/>-->
    <!--<add key="SalesAudioUri" value="http://5.127.71.218:8070/salesaudio"/>-->
    <add key="SalesAudioUri" value="http://192.168.1.245:8090/salesaudio" />
    <add key="WebDavLicense" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;&lt;License&gt;&lt;Data&gt;&lt;Product&gt;IT Hit WebDAV Client .Net v1&lt;/Product&gt;&lt;LicensedTo&gt;&lt;![CDATA[Brightvision AB]]&gt;&lt;/LicensedTo&gt;&lt;Quantity&gt;1&lt;/Quantity&gt;&lt;IssueDate&gt;&lt;![CDATA[Thursday, September 20, 2012]]&gt;&lt;/IssueDate&gt;&lt;ExpirationDate&gt;&lt;![CDATA[]]&gt;&lt;/ExpirationDate&gt;&lt;Type&gt;Developer&lt;/Type&gt;&lt;/Data&gt;&lt;Signature&gt;&lt;![CDATA[LcKq2reJ7eycKHMP2xA7qvpQYrV/PDW4KngsgkspXEx/NkoMjtcdPkr+FQRfxw+a6Dlb0YqbO6fAtc7zxRFCvZ5GkjQOrGszl50jdGi61Tzo4ahqGI9tbtbrx/f1iZ5IkOOsyZjqsq/7++LuX5s1ELtlfkP7VtwmDxdeK5NgEpA=]]&gt;&lt;/Signature&gt;&lt;/License&gt;" />
    <add key="WebDavUsernamePassword" value="webdavuser|w3bd@vus3r" />
    <!--SSIS Package Path Staging-->
    <add key="SSISPackageName" value="FuzzyMatchingCompanies" />
    <!--<add key="SSISPackageServer" value="192.168.1.63"/>-->
    <add key="SSISPackageServer" value="192.168.1.245,1010\SQL2008R2" />
    <add key="SSISPackageServerUsername" value="michael" />
    <add key="SSISPackageServerPassword" value="Bright1234" />

    <add key="LogDirectory" value="C:\BrightVision\ServiceLog\" />
    <add key="TimeInterval" value="5000"/>

    <add key="MandrillKey" value="UVXUa_dilPi4I1xW90ozrA" />
    <add key="MandrillAccount" value="subs@brightvision.com" />
    <add key="MandrillAccountName" value="Brightvision" />

    <add key="TwilioASID" value="ACe3cd6fd52fa3173379929186990b9daa"/>
    <add key="TwilioAUTHTOKEN" value="19a1b5a18f49c044b5f97c7e540fb670"/>
    <add key="TwilioAccountPhoneNumber" value="+19142155010"/>
    <add key="TwilioAccountEmail" value="subs@brightvision.com"/>
    <add key="TwilioAccountPassword" value="WYgSPCMDf7"/>

    <!-- Server Side Reporting -->
    <!--<add key="WebPortalUrl" value="http://localhost:8080"/>-->
    <!--<add key="WebPortalUrl" value="http://192.168.1.201:9090"/>-->
    <add key="WebPortalUrl" value="http://192.168.1.245:9090"/>
    <add key="PdfReportsPath" value="C:\BrightVision\PdfReports" />

    <add key="AzureBlobStorageOldAudioUrl" value="https://lii.blob.core.windows.net/old" />
    <add key="AzureBlobStorageNewAudioUrl" value="http://lii.blob.core.windows.net/iii" />

    <!-- Windows Azure Storage Blob Settings -->
    <add key="WindowsAzureStorageBlobAccountName" value="lii"/>
    <add key="WindowsAzureStorageBlobAccountKey" value="GUmKQvgTqn2t3CxJb7M4b4hYxocBJ5C9GbDec+Rm4JIxuUX1qKqVf2WzI/5w5UAMPVSMUs3DGY9FFFGl1KK5ZA=="/>
    <add key="WindowsAzureStorageBlobContainerName" value="iii"/>
    <add key="WindowsAzureStorageBlobContainerNameOld" value="old"/>

  </appSettings>
  <system.windows.forms jitDebugging="false" />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.81.0" newVersion="1.0.81.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>