<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="BrightPlatformEntities" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.129.169.165,1010;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=michael;password=Bright1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BrightPlatformEntities" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=25.127.71.218,1010\MSSQLSERVER;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=michael;password=Bright1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BrightPlatformEntities" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.200,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion_2;persist security info=True;user id=michael;password=43356106;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BrightPlatformEntities" connectionString="metadata=res://*/BrightPlatform.csdl|res://*/BrightPlatform.ssdl|res://*/BrightPlatform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.215,1010\SQL2008R2;initial catalog=BrightPlatform_NextVersion;persist security info=True;user id=brightvision;password=Bright1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>