@{
    ViewBag.Title = "Server Side Reporting Error";
}

<br/>
<h2>Server Side Reporting Error</h2>
<br/>
<div style="font-size:25px; font:Arial; color:darkblue;">
    @ViewBag.ExceptionMessage
</div>
