<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FileMakerMigratedEntities" 
         connectionString="metadata=res://*/Model.FileMakerToDB.csdl|res://*/Model.FileMakerToDB.ssdl|res://*/Model.FileMakerToDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=5.81.127.16,1146\SQLEXPRESS;Initial Catalog=FileMakerMigrated;User ID=michael;Password=43356106;MultipleActiveResultSets=True&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="FileMakerMigrated" 
        connectionString="Data Source=.\sqlexpress;Initial Catalog=FileMakerMigrated;Persist Security Info=True;User ID=michael;Password=43356106"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>